body{
    margin: 0;
    padding: 0;
    text-align: center;
}

/* .homeTittle{
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 76px;
    color:aqua;
    font-family: "Bigelow rules";
} */



.homeStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
}