/* .search-box{
    border:none;
    outline:none;
    padding: 10px;
    width: 150px;;
    line-height: 30px;
    margin-bottom: 30px;
} */

.search-box {
    display: flex;
    justify-content: space-around; /* Cambiado a space-around */
    align-items: center;
    padding: 10px;
    background-color: #007bff; /* Color de fondo del navbar, ajusta según sea necesario */
    color: #fff; /* Color de texto, ajusta según sea necesario */
    width: 100%; /* Hace que la barra de navegación ocupe todo el ancho */
  }
  
  .search-box button {
    margin: 0 10px; /* Ajusta el margen según sea necesario */
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3; /* Color de fondo de los botones, ajusta según sea necesario */
    color: #fff;
    cursor: pointer;
  }
  
  .search-box button:hover {
    background-color: #003366; /* Color de fondo al pasar el ratón por encima, ajusta según sea necesario */
  }
  
  .homeTittle {
    margin: 0;
    color: #fff;
    /* color:#99c2ff */
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  form input {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }